<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vandenbussche.emiel.projectsbp">

    <uses-permission android:name="android.permission.INTERNET" />

    <permission android:name="com.vandenbussche.emiel.votastic.provider.permission.READ_PROVIDER" />

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".gui.activities.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gui.activities.NewPollActivity"
            android:label="@string/title_activity_new_poll"
            android:parentActivityName=".gui.activities.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vandenbussche.emiel.projectsbp.gui.activities.HomeActivity" />
        </activity>
        <activity
            android:name=".gui.activities.NewPageActivity"
            android:label="@string/title_activity_new_page"
            android:parentActivityName=".gui.activities.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vandenbussche.emiel.projectsbp.gui.activities.HomeActivity" />
        </activity>
        <activity
            android:name=".gui.activities.LoaderActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name=".database.provider.VotasticContentProvider"
            android:authorities="com.vandenbussche.emiel.Votastic"
            android:enabled="true"
            android:exported="true"
            android:permission="com.vandenbussche.emiel.votastic.provider.permission.READ_PROVIDER"
            android:syncable="true" />

        <service
            android:name=".auth.AuthenticatorService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/account_authenticator" />
        </service>
        <service
            android:name=".sync.SyncService"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <activity
            android:name=".gui.activities.RandomPollsActivity"
            android:label="@string/title_activity_random_polls"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gui.activities.PageDetailActivity"
            android:label="@string/title_activity_page_detail"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>